<center><h1>Pic Streamer</h1></center>

<div id="whole_body">

	<div id="topbar">
		<p>Type in a popular hashtag like "travel", "cat", or "me" to see streaming images using that tag currently being uploaded to Instagram.</p>
		<input type="textfield" id="searchfield"></input>
		<button id="stream_button" class="btn btn-default">Stream</button>
		<button id="pauseplay" class="btn btn-danger">Stop</button>
	
		<div id="slider2"></div>
		
	</div>
	
	
	<div class="col-md-12 col-sm-12 col-xs-12">
	
		<div class="col-md-6 col-sm-12 col-xs-12">
	
			<span id="searchFor" class="text"></span>
		
			<div id="map-canvas"></div>
	
		</div>
	
		<div id="pic-container" class="col-md-6 col-sm-12 col-xs-12">
	
			<span id="location-info" class="text"></span>
			<a id="current-pic-link">
				<div id="current-pic">
		
				</div>
			</a>
		</div>
	
	</div>
	
	<div id="pic-body"></div>

</div>