<h1>Pic Streamer</h1>

<input type="textfield" id="searchfield"></input>
<button id="button">Stream</button>

Search for pics with tag: <strong><span id="tagName"></span></strong>

<div class="col-md-12 col-sm-12 col-xs-12">

<div id="map-canvas" class="col-md-6 col-sm-12 col-xs-12">

</div>

<div class="col-md-6 col-sm-12 col-xs-12">

<span id="location-info"></span>

<div id="current-pic">
	
</div>

</div>

</div>

<div id="pic-body" style="margin-top:30px;margin-left:15px">
	
</div>

<!--
<div id="latitude" style="margin-top:20px"></div>

<div id="longitude" style="margin-top:20px"></div>

-->

<!--<%= link_to "Update", update_block_path, remote: true %>-->

