<center><h1>Pic Streamer</h1></center>

<div id="topbar">
	<input type="textfield" id="searchfield"></input>
	<button id="button" class="btn btn-default">Stream</button>

	<button id="pauseplay" class="btn btn-danger">Stop</button>
</div>


<div class="col-md-12 col-sm-12 col-xs-12">

	<div class="col-md-6 col-sm-12 col-xs-12">

		<span id="searchFor"></span>
	
		<div id="map-canvas">

		</div>

	</div>

	<div class="col-md-6 col-sm-12 col-xs-12">

		<span id="location-info"></span>
		<a id="current-pic-link">
			<div id="current-pic">
	
			</div>
		</a>
	</div>

</div>

<div id="pic-body">
	
</div>

<!--<%= link_to "Update", update_block_path, remote: true %>-->

